<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>




    <link rel="stylesheet" href="Ratings.css">

</head>
<body>
    <div class="body">





<div class="ih">
    <div class="receiver">
        <div class="info">
            <img src="psa.jpg" alt="평가 받는 사람 사진">
            <span>NAMENAME</span>
            <div class="intro">
                <p>
                    here, GOOD
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam corporis rerum inventore blanditiis aliquam sapiente perspiciatis accusantium est laboriosam. Optio, aliquam quos. Fugit, distinctio et nihil minus nesciunt ipsa temporibus.
                    Inventore recusandae facilis vitae quae voluptatem odit adipisci aut numquam sit libero, illo accusantium, fuga harum cumque a id necessitatibus. Sunt eius at repellat enim, voluptatem ad non quibusdam veritatis!
                </p>
            </div>
        </div>
        <div class="rates">
            <table>
                <tr>
                    <th>평점</th>
                    <td>9.95 / 10</td>
                </tr>
            </table>
        </div>

    </div>
    <!----------- end .receiver ----------->
    <div class="thrower">
        <div class="pasts">
            <div class="past">
                <img src="psa.jpg" alt="지난 평가자 사진">
                <div>
                    <div>
                        <span>nickname</span>
                        <span>평점 8/10</span>
                        <span>20.9.9</span>
                    </div>
                    <div>
                        <p>
                            평가 지난 평가1
                        </p>
                    </div>
                </div>
            </div>
            <!-- end .past ------------------------>

            <div class="past">
                <img src="psa.jpg" alt="지난 평가자 사진">
                <div>
                    <div>
                        <span>닉네임</span>
                        <span>평점 2/10</span>
                        <span>20.5.5</span>
                    </div>
                    <div>
                        <p>
                            평가 지난 평가2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ipsa, labore veniam, consectetur porro necessitatibus vel aliquam sequi aut voluptatibus incidunt doloribus cum ad, minima autem facere ratione laboriosam aspernatur!
                        </p>
                    </div>
                </div>
            </div>
            <!-- end .past ------------------------>
            
            <div class="past">
                <img src="psa.jpg" alt="지난 평가자 사진">
                <div>
                    <div>
                        <span>별명nickname</span>
                        <span>평점 10/10</span>
                        <span>20.1.1</span>
                    </div>
                    <div>
                        <p>
                            평가 지난 평가3 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ipsa, labore veniam, consectetur porro necessitatibus vel aliquam sequi aut voluptatibus incidunt doloribus cum ad, minima autem facere ratione laboriosam aspernatur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, praesentium? Adipisci sapiente sed iste cum quod, obcaecati numquam. Perferendis alias optio corrupti architecto modi odit, quasi eius laborum autem quis.
                            Porro nam tempore, iusto aperiam consequatur atque molestias iure excepturi mollitia amet repudiandae nisi quibusdam harum repellendus esse necessitatibus recusandae enim placeat facere aspernatur nemo! Vitae cupiditate dignissimos aliquid totam.
                            Necessitatibus iure quia minus iste soluta vero at, eos, aliquid quam, molestias sunt. Nostrum repudiandae maiores facere sapiente cupiditate expedita odio suscipit. Cum nesciunt iusto corrupti aut laboriosam, provident incidunt.
                            Ex, corrupti voluptas quos in magnam ipsum neque! Adipisci officiis sit dolorum excepturi temporibus numquam atque, minima rerum dolor assumenda illum eum necessitatibus accusamus et. Quibusdam ea cum ipsum aut.
                            Praesentium quidem totam tenetur, fuga sit voluptatem quae id libero, fugiat animi commodi. Omnis ipsum unde exercitationem dolorum, ipsam harum obcaecati fuga consequuntur dolores quibusdam voluptas mollitia vero assumenda cumque.
                            Placeat veniam, neque consequatur alias pariatur iure non ullam harum sunt velit fugiat. Sapiente quisquam inventore voluptas maiores rem, hic soluta sed? Nisi quos dignissimos sunt eum consectetur! Rem, laudantium?
                            Dolorem sequi nihil quod enim facere deserunt temporibus explicabo aliquam, illo, mollitia ex beatae. Animi iste eveniet officia inventore, perferendis qui itaque deleniti laborum facere odio iure commodi alias recusandae!
                            Dolorem doloribus laborum vel cumque similique ipsa repellendus sint tempore voluptatem. Recusandae voluptatem impedit vitae quasi ea rerum voluptates dolorum nesciunt unde soluta sint debitis facere reiciendis architecto, corporis voluptatum?
                            Debitis illo corporis a fugiat sit, omnis culpa incidunt nihil numquam aspernatur repellat delectus dolorum iste, repellendus esse quis molestias voluptatum, quia recusandae fugit eos dolorem! Magnam reiciendis ipsa accusantium.
                            Fugit non autem aspernatur esse rem veritatis quia inventore, sed pariatur repudiandae animi quos, id nemo aut cum dolorum fugiat totam asperiores! Amet voluptate unde, et minus voluptatibus quae placeat!
                        </p>
                    </div>
                </div>
            </div>
            <!-- end .past ------------------------>

            <div class="past">
                <img src="psa.jpg" alt="지난 평가자 사진">
                <div>
                    <div>
                        <span>nickname</span>
                        <span>평점 4/10</span>
                        <span>20.9.9</span>
                    </div>
                    <div>
                        <p>
                            평가 지난 평가1
                        </p>
                    </div>
                </div>
            </div>
            <!-- end .past ------------------------>

            <div class="past">
                <img src="psa.jpg" alt="지난 평가자 사진">
                <div>
                    <div>
                        <span>닉네임</span>
                        <span>평점 6/10</span>
                        <span>20.5.5</span>
                    </div>
                    <div>
                        <p>
                            평가 지난 평가2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ipsa, labore veniam, consectetur porro necessitatibus vel aliquam sequi aut voluptatibus incidunt doloribus cum ad, minima autem facere ratione laboriosam aspernatur!
                        </p>
                    </div>
                </div>
            </div>
            <!-- end .past ------------------------>

            <div class="past">
                <img src="psa.jpg" alt="지난 평가자 사진">
                <div>
                    <div>
                        <span>별명nickname</span>
                        <span>평점 8/10</span>
                        <span>20.1.1</span>
                    </div>
                    <div>
                        <p>
                            평가 지난 평가3 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non ipsa, labore veniam, consectetur porro necessitatibus vel aliquam sequi aut voluptatibus incidunt doloribus cum ad, minima autem facere ratione laboriosam aspernatur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, praesentium? Adipisci sapiente sed iste cum quod, obcaecati numquam. Perferendis alias optio corrupti architecto modi odit, quasi eius laborum autem quis.
                            Porro nam tempore, iusto aperiam consequatur atque molestias iure excepturi mollitia amet repudiandae nisi quibusdam harum repellendus esse necessitatibus recusandae enim placeat facere aspernatur nemo! Vitae cupiditate dignissimos aliquid totam.
                            Necessitatibus iure quia minus iste soluta vero at, eos, aliquid quam, molestias sunt. Nostrum repudiandae maiores facere sapiente cupiditate expedita odio suscipit. Cum nesciunt iusto corrupti aut laboriosam, provident incidunt.
                            Ex, corrupti voluptas quos in magnam ipsum neque! Adipisci officiis sit dolorum excepturi temporibus numquam atque, minima rerum dolor assumenda illum eum necessitatibus accusamus et. Quibusdam ea cum ipsum aut.
                            Praesentium quidem totam tenetur, fuga sit voluptatem quae id libero, fugiat animi commodi. Omnis ipsum unde exercitationem dolorum, ipsam harum obcaecati fuga consequuntur dolores quibusdam voluptas mollitia vero assumenda cumque.
                            Placeat veniam, neque consequatur alias pariatur iure non ullam harum sunt velit fugiat. Sapiente quisquam inventore voluptas maiores rem, hic soluta sed? Nisi quos dignissimos sunt eum consectetur! Rem, laudantium?
                            Dolorem sequi nihil quod enim facere deserunt temporibus explicabo aliquam, illo, mollitia ex beatae. Animi iste eveniet officia inventore, perferendis qui itaque deleniti laborum facere odio iure commodi alias recusandae!
                            Dolorem doloribus laborum vel cumque similique ipsa repellendus sint tempore voluptatem. Recusandae voluptatem impedit vitae quasi ea rerum voluptates dolorum nesciunt unde soluta sint debitis facere reiciendis architecto, corporis voluptatum?
                            Debitis illo corporis a fugiat sit, omnis culpa incidunt nihil numquam aspernatur repellat delectus dolorum iste, repellendus esse quis molestias voluptatum, quia recusandae fugit eos dolorem! Magnam reiciendis ipsa accusantium.
                            Fugit non autem aspernatur esse rem veritatis quia inventore, sed pariatur repudiandae animi quos, id nemo aut cum dolorum fugiat totam asperiores! Amet voluptate unde, et minus voluptatibus quae placeat!
                        </p>
                    </div>
                </div>
            </div>
            <!-- end .past ------------------------>


        </div>
        <!-- end .pasts ----------------------------------->


    </div>
    <!----------- end .thrower ----------->





</div>
<!------------------------------------------------------------------------------------------------------------------------------------>







    </div>
</body>
</html>