@charset "UTF-8";

.ih * {
    padding: 0; 
    margin: 0;
    list-style-type: none;
    font-size: 1rem;
    color: black;
}
.ih h1, .ih h2 {
    text-align: center;
}
.ih h1 {
    font-size: 1.5rem;
}
.ih h2 {
    font-size: 1.2rem;
}
.right {
    text-align: right;
}



/**** form ****/
.ih form {
    width: 600px;
    margin: 0 auto;
}
.ih .idx {
    margin-top: 10px;
    font-weight: 900;
}
.ih .idx span {
    font-size: 1.2rem;
}
.ih input[type="number"] {
    width: 588px;
    min-height: 30px;
    padding: 0 5px;
    border: 1px solid black;
}
.ih table {
    width: 600px;
    border: 1px solid black;
}
.ih table td {
    width: 100px;
    text-align: center;
}
.ih table td:hover {
    background-color: lightgray;
}
.ih .fa-question-circle {
    font-size: 0.9rem;
}

.ih .btns {
    width: 600px;
    text-align: center;
    margin-top: 20px;
}
.ih .btns button {
    margin: 10px 20px;
    padding: 10px 30px;
    font-weight: 900;
    background-color: lightgray;
}
/**** end form ****/




/**** errMsg ****/
.ih .errMsg {
    color: red;
    font-size: 0.9rem;
    font-weight: 900;
}
/**** end errMsg ****/

/**** select card ****/
.ih label, .ih label>i {
    font-size: 1.2rem;
}
.ih table td label {
    display: block;
    padding: 5px 10px;
}
.ih .tobehidden {
    display: none;
}
.ih input[type="radio"]:checked~ label {
    background-color: lightgray;
}
/**** end select card ****/

